@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.section__container {
@apply container mx-auto;
}
.section__heading--main {
  @apply text-xl text-l_blue;
}
.section__heading--sub {
  @apply text-3xl text-l_black font-semibold;
}

.card__heading{
  @apply text-l_blue font-bold my-2
}

.card__description{
  @apply text-l_black my-2
}
